html {
    font-size: 20px;
}

body {
    font-family: roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
    background-color: #FAF1E4;
    
}

button {
    border-radius: 5px;
    background-color: #435334;
    color: #FAF1E4;;
    border: none;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 20px;
}

a {
    text-decoration: none;
    color: #435334;
    margin-left: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 20px;
    background-color:#CEDEBD;
    color: #435334;
}

.header {
    background-color:#9EB384;
    color: #FAF1E4;
    padding: 30px;
    margin: 10px 40px;
    text-align: center;
    flex: 1;
     
}
.game-space {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 100px; 
    flex: 3;
    background-color: #FAF1E4;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.result {
    text-align: center;
    margin-top: 10px;
}

.scoreboard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    padding-top: 30px;
    font-size: 24px;
}

#player-score, #computer-score {
    font-size: 30px;
    margin-top: 10px;
    font-weight: 600;
}

#winner {
    text-align: center;
}

.player-score-box, .computer-score-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    text-align: right;
    font-size: 12px;
    flex: 1;
}

.about {
    padding: 10px;
}